@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
/*Aqui se esconde as divs para o script revelar*/
.text, .text2, .text3, .contato, .inicio{
    visibility: hidden;
}
/*Aqui se reseta a página*/
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    background: url(img/fundo.png) center;
    /* Efeito parallax no fundo */
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Noto Sans', sans-serif;
}
/*Aqui se inicia o menu*/
.nav{
    position: fixed;
    background-color: #161224;
    border-radius: 0px 0px 35px 35px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* Ajuda na quebra de elementos para não sobrepor os botões navs */
    flex-wrap: wrap;
    width: 100%;
    z-index: 1;
}
/*Aqui se trata os botoes do menu*/
a{
    background-color: #00ff88;
    padding: 12px;
    border: none;
    border-radius: 8px;
    color: #2b134b;
    box-shadow: 0px 10px 40px -12px #00ff8052;
    font-weight: 800;
    margin-right: 25px;
}

h1{
    margin-bottom: 10px;
    font-weight: 800;
    text-shadow: #170120 0px 1px 70px;
}

p{
    font-size:larger;
    font-weight: 700;
}
/*Aqui posiciona o inicio*/
.inicio{
    padding: 20% 0% 4% 8%;
}

.ola p{
    color:#00ff88;
}

.ola h1{
    color: #ffffff;
    font-size:70px;
}
/*Aqui se inicia o sobre*/
.sobre{
    display: flex;
    flex-wrap: wrap-reverse;
    margin-top: 290px;
}

.imagem1{
    display: flex;
    justify-items: center;
    margin: auto;
}

.text h1{
    margin-bottom: 4%;
}

.text{
    color: #161224;
    width: 60%;
    text-align: center;
    margin: 80px 0px 0px 30px;
    padding: 35px 25px;
    border-radius: 60px 3px;
    background-color: #00ff88;
    box-shadow: 0px 10px 40px -12px #00000056;
    font-size: 20px; 
    min-width: 600px;
}
/*Aqui se inicia as habilidades*/
.habilidades{
    display: flex;
    margin-bottom: 7%;
}

.text2 h1{
    margin-bottom: 4%;
}

.text2{
    color: #161224;
    width: 60%;
    text-align: center;
    /* Habilitar margin de distância que não tinha nessa div */
    margin: 5% 6%;
    padding: 80px 40px;
    border-radius: 3px 60px;
    background-color: #00ff88;
    box-shadow: 0px 20px 40px #00000056;
    font-size: 20px;
}
/*Aqui se inicia a experiencia*/
.experiencia{
    text-align: center;
    padding-top: 5%;
}

.text3 h1{
    margin-bottom: 4%;
}

.text3{
    color: #161224;
    width: 60%;
    margin-left: 18%;
    padding: 100px 40px;
    border-radius: 20px 20px;
    background-color: #00ff88;
    box-shadow: 0px 20px 40px #00000056;
    font-size: 20px;
}
/*Aqui se inica a area para contato*/
.contato{
    margin-top: 15%;
    font-weight: 700;
    color:#ffffff;
    width: 60%;
    margin-left: 18%;
    padding: 50px 40px;
    border-radius: 20px 20px;
    background-color: #161224f3;
    box-shadow: 0px 20px 40px #00000056;
    font-size: 20px;
    margin-bottom: 5%;
    text-align: center;
}

.button{
    cursor: pointer;
    border: none;
    margin: 0 auto;
    margin-top: 5%;
    width: 8%;
    height: 5%;
}
/*Aqui se inicia o rodape*/
.footer{
    background-color: #161224;
    color:#ffffff;
    margin-top: 5%;
    padding: 2% 0 2% 0;
    border-radius: 35px 35px 0px 0px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 100%;
}

.map{
    margin-left: 3%;
}

iframe{
    border-radius: 10px;
}

#rodape{
    margin-left: 9%;
}

/* Adicionando media para cuidar da responsividade do site.
 Seria interessante você fazer para tamanhos menores também */
@media (max-width: 1451px) {
    .text{
        margin: 0;
        border-radius: 0px;
        min-width: 100%;
    }
    .sobre{
        margin-top: 100px;
    }
}